@model MiCafeteria.Core.Entities.Usuario


@{
    var roles = ViewData["Roles"] as SelectList;
}

<form asp-controller="Usuario" asp-action="Edit" method="post">
    @* Si me da un error tipos edit/1 es por que me falta el hidden *@
    <input asp-for="UsuarioId" type="hidden" />
    <label asp-for="NombreCompleto" class="form-label"></label>
    <input asp-for="NombreCompleto" class="form-control" />

    <span asp-validation-for="NombreCompleto" class="text-danger"></span>

    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />

    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control" />

    <span asp-validation-for="Password" class="text-danger"></span>

    <label asp-for="Rol" class="form-label"></label>
    <select asp-for="Rol" asp-items="roles" class="form-control">
        <option value="">--- Selecciona un Rol ---</option>
    </select>
    <span asp-validation-for="Rol" class="text-danger"></span>


    @* todo formulario tiene que tener un submit *@
    <button type="submit" class="btn btn-primary">Editar</button>
</form>