@model MiCafeteria.Core.Entities.Usuario


<h3>@ViewBag.Title</h3>


<form asp-controller="Cuenta" asp-action="login" method="post">

    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control"/>

    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control" type="password" />

    <span asp-validation-for="Password" class="text-danger"></span>

    @* todo formulario tiene que tener un submit *@
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}